{%extends 'base.html' %}

{%block title%} about_us {%endblock%}

{%block content%}
    <!-- Contact Start -->
    <div class="container-fluid py-3">
        <div class="container">
            <div class="bg-light py-2 px-4 mb-3">
                <h3 class="m-0">About Us </h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-light mb-3" style="padding: 30px;">
                        <h6 class="font-weight-bold">We've Been There. We Can Help You Get There Too.</h6>
                        <p>

                            We at Next Step Jobs are veterans of the job hunt ourselves. We've felt the pressure to land that dream position, the confusion of navigating a complex job market, and the frustration of feeling lost in the crowd. That's why we built Next Step Jobs – to be your partner in conquering the career climb.</p>
                            

                           <h6 class="font-weight-bold">More Than Just a Job Board</h6> 
                            
                            <p>Forget the generic job boards. We offer a comprehensive toolbox for career advancement. We curate a massive database of private-sector job openings, ensuring each one is a great fit for your skills and experience. But that's just the tip of the iceberg. </p>
                            

                            <h6 class="font-weight-bold">Your Success Coach in Your Corner</h6>
                            
                           <p> Our team of seasoned career coaches is here to guide you every step of the way. We'll help you polish your resume and craft a killer cover letter that gets you noticed. Feeling nervous about interviews? We've got proven strategies to boost your confidence and help you land that offer. </p>
                            

                            <h6 class="font-weight-bold">Stay Ahead of the Game </h6>
                            
                            <p>The job market is constantly evolving. That's why we provide you with the latest industry insights and informative articles.  We keep you in the loop on  trends, so you can tailor your approach and impress potential employers. </p>
                            

                            <h6 class="font-weight-bold">Invest in Yourself – It Pays Off </h6>   

                           <p> Next Step Jobs is your investment in a brighter future. We empower you to showcase your talents, connect with the right opportunities, and land that dream job with confidence.  We're not just a service – we're your career cheerleader. </p>
                            
                           
                            <h6 class="font-weight-bold">Join our thriving community of ambitious professionals and take the Next Step towards your dream career today! </h6>
                        
                       
                    </div>
                    {% include 'social.html' %} 
    {% include 'footer.html' %}
                </div>
                
            </div>
        </div>
    </div>
    <!-- Contact End -->
    
    {%endblock%}