
{%block content%}

<div class="container-fluid text-center bg-light text-dark" >     

            <h4 class="font-weight-bold ">Quick Links</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-secondary mb-2" href="/about_us"><i class="fa fa-angle-right text-dark mr-2"></i>About Us</a>
                <a class="text-secondary mb-2" href="/contact"><i class="fa fa-angle-right text-dark mr-2"></i>Contact Us</a>
                <a class="text-secondary mb-2" href="/desclaimer"><i class="fa fa-angle-right text-dark mr-2"></i>Desclaimer</a>
                <a class="text-secondary mb-2" href="/privacy"><i class="fa fa-angle-right text-dark mr-2"></i>Privacy & policy</a>
                <a class="text-secondary mb-2" href="/terms"><i class="fa fa-angle-right text-dark mr-2"></i>Terms & conditions</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-4 px-sm-3 px-md-5">
    <p class="m-0 text-center">
        &copy; <a class="font-weight-bold" href="/"> nextstepjobs.info</a>. All Rights Reserved. 
        
        Designed by <a class="font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>
    </p>
</div>


{%endblock%}